---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/home/Hero.astro";
import ServicesGrid from "../components/home/ServicesGrid.astro";
import WhyChooseUs from "../components/home/WhyChooseUs.astro";
import Testimonials from "../components/home/Testimonials.astro";
import FAQ from "../components/home/FAQ.astro";
import StrongCTA from "../components/home/StrongCTA.astro";
---

<Layout
  title="GCC Melbourne | Commercial Cleaning Services"
  description="Premium commercial cleaning in Melbourne. Office, medical, and warehouse cleaning services. Fully insured and police checked. Get a free quote."
>
  <main>
    <Hero />
    <ServicesGrid />
    <WhyChooseUs />
    <Testimonials />
    <FAQ />
    <StrongCTA />
  </main>
</Layout>
