---
import Layout from "../layouts/Layout.astro";
import Hero2 from "../components/home/Hero2.astro";
import Services2 from "../components/home/Services2.astro";
import WhyChooseUs2 from "../components/home/WhyChooseUs2.astro";
import Testimonials2 from "../components/home/Testimonials2.astro";
import FAQ2 from "../components/home/FAQ2.astro";
import StrongCTA2 from "../components/home/StrongCTA2.astro";
---

<Layout
    title="GCC Melbourne | Commercial Cleaning Services (V2)"
    description="Premium commercial cleaning in Melbourne. Office, medical, and warehouse cleaning services. Fully insured and police checked. Get a free quote."
>
    <main>
        <Hero2 />
        <Services2 />
        <WhyChooseUs2 />
        <Testimonials2 />
        <FAQ2 />
        <StrongCTA2 />
    </main>
</Layout>
